.apc-innovation-center-of-nu-1-icon71 {
  width: 212px;
  position: relative;
  height: 97px;
  object-fit: cover;
}
.header-child7 {
  align-self: stretch;
  position: relative;
  background-color: var(--color-darkslateblue);
  height: 23px;
}
.header25 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 0;
  gap: var(--gap-2xs);
}
.background-icon4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1366px;
  height: 1206px;
  overflow: hidden;
}
.please-wait-for5 {
  top: 859px;
  left: 38px;
  width: 1075px;
  height: 28px;
}
.booking15,
.classroom4,
.please-wait-for5 {
  position: absolute;
  display: inline-block;
}
.booking15 {
  top: 57px;
  left: 473px;
  font-size: var(--font-size-19xl);
  font-weight: 800;
  width: 199px;
  height: 45px;
}
.classroom4 {
  top: 0;
  left: 387px;
  font-size: var(--font-size-31xl);
  line-height: 48px;
  width: 377px;
  height: 43px;
}
.vector-icon26 {
  width: 18px;
  height: 18px;
}
.confirm14,
.vector-icon26 {
  position: relative;
}
.confirm13 {
  position: absolute;
  top: 914px;
  left: 465px;
  border-radius: var(--br-xl);
  background-color: var(--color-olivedrab);
  width: 220px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-31xl);
  box-sizing: border-box;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-xl);
  font-family: var(--small-text);
}
.image-removebg-preview-16-15 {
  width: 423px;
  position: relative;
  height: 450px;
  object-fit: cover;
}
.successfully-reserved-your5 {
  align-self: stretch;
  position: relative;
  margin-top: -17px;
}
.body-text1,
.main-body1 {
  position: absolute;
  width: 1151px;
  overflow: hidden;
}
.body-text1 {
  top: 313px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-45xl);
}
.main-body1 {
  top: 127px;
  left: 108px;
  height: 978px;
}
.body3 {
  align-self: stretch;
  position: relative;
  height: 1206px;
}
.footer-bg-icon52 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1366px;
  height: 553px;
}
.apc-believes-that52 {
  position: absolute;
  top: 195px;
  left: 67px;
  font-size: var(--font-size-mini);
  line-height: 20px;
  color: var(--color-darkgray-100);
  display: inline-block;
  width: 345px;
  height: 96px;
}
.fb-icon52,
.insta-icon52,
.linkedin-icoon-icon52,
.twitter-icon52 {
  position: absolute;
  height: 4.59%;
  width: 1.78%;
  top: 71.52%;
  right: 20.4%;
  bottom: 23.89%;
  left: 77.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.fb-icon52,
.linkedin-icoon-icon52,
.twitter-icon52 {
  right: 27.74%;
  left: 70.48%;
}
.linkedin-icoon-icon52,
.twitter-icon52 {
  height: 4.21%;
  width: 2%;
  top: 71.7%;
  right: 23.96%;
  bottom: 24.09%;
  left: 74.04%;
}
.linkedin-icoon-icon52 {
  height: 4.59%;
  width: 1.78%;
  top: 71.52%;
  right: 16.84%;
  bottom: 23.89%;
  left: 81.38%;
}
.copyright-201952 {
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.copy-right4,
.footer-child2 {
  position: absolute;
  box-sizing: border-box;
}
.copy-right4 {
  top: 491px;
  left: 47px;
  width: 470px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  font-size: var(--small-text-size);
}
.footer-child2 {
  top: 478.5px;
  left: -1.5px;
  border-top: 1px solid var(--color-gainsboro-100);
  width: 1367px;
  height: 1px;
}
.apc-innovation-center-of-nu-1-icon72 {
  position: absolute;
  top: 32px;
  left: 48px;
  width: 194px;
  height: 123px;
  object-fit: cover;
}
.rams-video-still-removebg-prev-icon28 {
  position: absolute;
  top: 470px;
  left: 1275px;
  width: 90.3px;
  height: 83.8px;
  object-fit: contain;
}
.senior-high-school105 {
  color: inherit;
}
.senior-high-school104 {
  margin: 0;
}
.our-schools52,
.senior-high-school-container52 {
  position: absolute;
  left: 678px;
  line-height: 20px;
  display: inline-block;
}
.senior-high-school-container52 {
  top: 128px;
  font-weight: 300;
  color: var(--color-black);
  width: 186px;
  height: 341px;
}
.our-schools52 {
  top: 71px;
  width: 140px;
  height: 21px;
}
.about-us-news-container52,
.quick-links52 {
  position: absolute;
  left: 516px;
  line-height: 20px;
  display: inline-block;
}
.about-us-news-container52 {
  top: 128px;
  font-weight: 300;
  color: var(--color-black);
  width: 106px;
  height: 180px;
}
.quick-links52 {
  top: 71px;
  width: 124px;
  height: 21px;
}
.contact-us52,
.phone-63-917-container104,
.phone-63-933-container52 {
  width: 153px;
  position: relative;
  line-height: 20px;
  display: inline-block;
  height: 29.3px;
  flex-shrink: 0;
}
.phone-63-917-container104,
.phone-63-933-container52 {
  width: 182px;
  height: 22px;
}
.phone-63-933-container52 {
  width: 222px;
  font-weight: 300;
}
.phone52 {
  font-weight: 500;
}
.span104 {
  font-weight: 300;
}
.phone-63-917-container105 {
  width: 222px;
  position: relative;
  line-height: 20px;
  display: inline-block;
  height: 22px;
  flex-shrink: 0;
}
.email-admissionsapceduph52 {
  align-self: stretch;
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.contact-info52,
.frame13 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame13 {
  align-self: stretch;
  overflow: hidden;
  justify-content: center;
  gap: var(--gap-2xl);
  font-size: var(--font-size-mini);
}
.contact-info52 {
  position: absolute;
  top: 71px;
  left: 926px;
  width: 294px;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.classroom3,
.footer52 {
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
}
.footer52 {
  align-self: stretch;
  height: 553px;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray);
}
.classroom3 {
  width: 100%;
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
