.apc-innovation-center-of-nu-1-icon83 {
  width: 212px;
  position: relative;
  height: 97px;
  object-fit: cover;
}
.header-child13 {
  align-self: stretch;
  position: relative;
  background-color: var(--color-darkslateblue);
  height: 23px;
}
.header33 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 0;
  gap: var(--gap-2xs);
}
.background-icon6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1366px;
  height: 1206px;
  overflow: hidden;
}
.please-wait-for7 {
  position: absolute;
  top: 859px;
  left: 38px;
  display: inline-block;
  width: 1075px;
  height: 28px;
}
.vector-icon34 {
  width: 18px;
  height: 18px;
}
.confirm22,
.vector-icon34 {
  position: relative;
}
.confirm21 {
  position: absolute;
  top: 914px;
  left: 465px;
  border-radius: var(--br-xl);
  background-color: var(--color-olivedrab);
  width: 220px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-31xl);
  box-sizing: border-box;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-xl);
  font-family: var(--small-text);
}
.image-removebg-preview-16-17 {
  width: 423px;
  position: relative;
  height: 450px;
  object-fit: cover;
}
.successfully-reserved-your7 {
  align-self: stretch;
  position: relative;
  margin-top: -17px;
}
.body-text3 {
  position: absolute;
  top: 313px;
  left: 0;
  width: 1151px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-45xl);
}
.booking21,
.laboratory4 {
  position: absolute;
  display: inline-block;
}
.laboratory4 {
  top: -5px;
  left: 377px;
  font-size: var(--font-size-31xl);
  line-height: 48px;
  width: 397px;
  height: 52px;
}
.booking21 {
  top: 37px;
  left: 390px;
  font-size: var(--font-size-19xl);
  font-weight: 800;
  width: 370px;
  height: 62px;
}
.main-body3 {
  position: absolute;
  top: 127px;
  left: 108px;
  width: 1151px;
  height: 978px;
  overflow: hidden;
}
.body9 {
  align-self: stretch;
  position: relative;
  height: 1206px;
}
.footer-bg-icon58 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1366px;
  height: 553px;
}
.apc-believes-that58 {
  position: absolute;
  top: 195px;
  left: 67px;
  font-size: var(--font-size-mini);
  line-height: 20px;
  color: var(--color-darkgray-100);
  display: inline-block;
  width: 345px;
  height: 96px;
}
.fb-icon58,
.insta-icon58,
.linkedin-icoon-icon58,
.twitter-icon58 {
  position: absolute;
  height: 4.59%;
  width: 1.78%;
  top: 71.52%;
  right: 20.4%;
  bottom: 23.89%;
  left: 77.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.fb-icon58,
.linkedin-icoon-icon58,
.twitter-icon58 {
  right: 27.74%;
  left: 70.48%;
}
.linkedin-icoon-icon58,
.twitter-icon58 {
  height: 4.21%;
  width: 2%;
  top: 71.7%;
  right: 23.96%;
  bottom: 24.09%;
  left: 74.04%;
}
.linkedin-icoon-icon58 {
  height: 4.59%;
  width: 1.78%;
  top: 71.52%;
  right: 16.84%;
  bottom: 23.89%;
  left: 81.38%;
}
.copyright-201958 {
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.copy-right10,
.footer-child8 {
  position: absolute;
  box-sizing: border-box;
}
.copy-right10 {
  top: 491px;
  left: 47px;
  width: 470px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  font-size: var(--small-text-size);
}
.footer-child8 {
  top: 478.5px;
  left: -1.5px;
  border-top: 1px solid var(--color-gainsboro-100);
  width: 1367px;
  height: 1px;
}
.apc-innovation-center-of-nu-1-icon84 {
  position: absolute;
  top: 32px;
  left: 48px;
  width: 194px;
  height: 123px;
  object-fit: cover;
}
.rams-video-still-removebg-prev-icon34 {
  position: absolute;
  top: 470px;
  left: 1275px;
  width: 90.3px;
  height: 83.8px;
  object-fit: contain;
}
.senior-high-school117 {
  color: inherit;
}
.senior-high-school116 {
  margin: 0;
}
.our-schools58,
.senior-high-school-container58 {
  position: absolute;
  left: 678px;
  line-height: 20px;
  display: inline-block;
}
.senior-high-school-container58 {
  top: 128px;
  font-weight: 300;
  color: var(--color-black);
  width: 186px;
  height: 341px;
}
.our-schools58 {
  top: 71px;
  width: 140px;
  height: 21px;
}
.about-us-news-container58,
.quick-links58 {
  position: absolute;
  left: 516px;
  line-height: 20px;
  display: inline-block;
}
.about-us-news-container58 {
  top: 128px;
  font-weight: 300;
  color: var(--color-black);
  width: 106px;
  height: 180px;
}
.quick-links58 {
  top: 71px;
  width: 124px;
  height: 21px;
}
.contact-us58,
.phone-63-917-container116,
.phone-63-933-container58 {
  width: 153px;
  position: relative;
  line-height: 20px;
  display: inline-block;
  height: 29.3px;
  flex-shrink: 0;
}
.phone-63-917-container116,
.phone-63-933-container58 {
  width: 182px;
  height: 22px;
}
.phone-63-933-container58 {
  width: 222px;
  font-weight: 300;
}
.phone58 {
  font-weight: 500;
}
.span116 {
  font-weight: 300;
}
.phone-63-917-container117 {
  width: 222px;
  position: relative;
  line-height: 20px;
  display: inline-block;
  height: 22px;
  flex-shrink: 0;
}
.email-admissionsapceduph58 {
  align-self: stretch;
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.contact-info58,
.frame25 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame25 {
  align-self: stretch;
  overflow: hidden;
  justify-content: center;
  gap: var(--gap-2xl);
  font-size: var(--font-size-mini);
}
.contact-info58 {
  position: absolute;
  top: 71px;
  left: 926px;
  width: 294px;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.footer58,
.laboratory3 {
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
}
.footer58 {
  align-self: stretch;
  height: 553px;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray);
}
.laboratory3 {
  width: 100%;
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
